*.log


__pycache__/
.ipynb_checkpoints/
exp
tb
outputs
multirun
.vscode
*.egg-info
test
baseline_runs
debug
**/slurm-*
wandb/
wandb*.txt
train.meta
checkpoints/
run_jobs_tmux.sh
data/*
dist/*
venv/*
build/*
testing/*
scripts/logs*
.idea/
scripts/tmp/**

outputs/*
*.pyc
